
#outerboxs{
	position:relative;
	width:100%;
	height:100%;
	border: 0.5px solid black;	

}
#square1{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	left:5%;
	top:5%;	

}
#square2{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	right:5%;
	top:15%;	

}
#square3{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	left:5%;
	bottom:5%;	

}

#square4{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	right:5%;
	bottom:5%;	

}




#squarea1{
	width:20%;
	height:35%;
	border:1px solid black;
	position:absolute;
	left:5%;
	top:5%;	
}
#squareb1{

	width:20%;
	height:35%;
	border:1px solid black;
	position:absolute;
	right:5%;
	top:5%;	

}
#squarec1{

	width:20%;
	height:35%;
	border:1px solid black;
	position:absolute;
	left:5%;
	bottom:5%;	

}

#squared1{

	width:20%;
	height:35%;
	border:1px solid black;
	position:absolute;
	right:5%;
	bottom:5%;	

}

#squaree1{

	width:20%;
	height:35%;
	border:1px solid black;
	position:absolute;
	left:40%;
	top:30%;	

}

#squarea2{
	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:5%;
	top:5%;	



}
#squareb2{

	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	right:5%;
	top:5%;	

}
#squarec2{

	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:5%;
	bottom:5%;	

}

#squared2{

	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	right:5%;
	bottom:5%;	

}
#squaree2{

	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:40%;
	top:30%;	

}


#squarea3{
	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	left:5%;
	top:5%;	



}
#squareb3{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	right:5%;
	top:5%;	

}
#squarec3{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	left:5%;
	bottom:5%;	

}

#squared3{

	width:25%;
	height:25%;
	border:1px solid black;
	position:absolute;
	right:5%;
	bottom:5%;	

}


#squarea4{
	width:25%;
	height:25%;
	border:1px solid black;
	border-radius:30%;
	position:absolute;
	left:5%;
	top:5%;	



}
#squareb4{

	width:25%;
	height:25%;
	border:1px solid black;
	border-radius:30%;
	position:absolute;
	right:5%;
	top:5%;	

}
#squarec4{

	width:25%;
	height:25%;
	border:1px solid black;
	border-radius:30%;
	position:absolute;
	left:5%;
	bottom:5%;	

}

#squared4{

	width:25%;
	height:25%;
	border:1px solid black;
	border-radius:30%;
	position:absolute;
	right:5%;
	bottom:5%;	

}


#circle{

	width:20%;
	height:35%;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:40%;
	top:30%;	


}

 
